h1 {
    font-size: 450%;
    font-family: 'Corben', Georgia, Times, serif;
    text-align:center;
    margin-bottom: 0px;
}
h2, h3, h4 {
    font-size: 100%;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 200px;
}
ul{
    font-size: 100%;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    margin-left: 200px;
}

p {
    font-size: 100%;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-align:center;
    
}

div{
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-align:center;
    background: url(/logos/cream_dust.png) repeat 0 0;
}
}

body {
    background-color: lightgray
}
.slider {
  position: relative;
  top: 10px;
  left: 850px;
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

#cloud{
    position: relative;
    top: 35px;
}

#tooltip {
    position: absolute;
    left: 1200px;
    top: 300px;
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
			
